.link {
    text-decoration: none;
    color: #475569;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
}

.link:hover {
    color: #1e40af;
}

.link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #1e40af;
    transition: width 0.3s ease;
}

.link:hover::after {
    width: 100%;
}